xml_files/customers-company.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Customers">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Customer"   minOccurs="0" maxOccurs="200" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Customer">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name" />
                <xs:element ref="surname"  />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="name" type="xs:string"/>
    <xs:element name="surname" type="xs:string"/>

</xs:schema>